<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>History</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    
    .back-button {
      position: relative;
      top: 20px;
      right: -10px;
      background-color: transparent; /* Button background color */
      color: black; /* Button text color */
      border: none !important;
      border-radius: 5px;
      padding: 10px 15px;
      cursor: pointer;
    }
    .back-button i {
      margin-right: 5px;
    }
    
    .back-button {
      transition: background-color 0.3s ease, transform 0.2s ease;
      z-index: 1000;
    }

    .back-button:hover {
      background-color: lightgray; 
      transform: translateY(-2px); 
    }

    .back-button:active {
      transform: scale(0.95); 
    }
    
    table {
      border-collapse: collapse;
    }

    th {
      background-color:lightgray;
      color: black;
      
    }

    th,
    td {
      width: 150px;
      text-align: center;
      border: 1px solid black;
      padding: 5px;
    }

    tbody {
      border-spacing: 15px;
    } 
    
  </style>
</head>
<body>
  <button class="back-button" onclick="window.location.href='admin/index.html'">
    <i class="fa-solid fa-arrow-left"></i>
    <span>Back</span>
  </button>
  <div class="container">
    <h1 style="margin-top: 1em;">Event History</h1>
    <hr>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% events.forEach(event => { %>
          <tr>
            <td style="width: 400px;"><%= event.time %></td>
            <td><%= event.Name %></td>
            <td><%= event.Email %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>