body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0064d0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}


.back-button {
    position: absolute; /* Change to absolute positioning */
    top: 12px; /* Maintain distance from the top */
    left: 10px; /* Align to the left */
    background-color: transparent; /* Button background color */
    color: black; /* Button text color */
    border: none !important;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .back-button i {
      margin-right: 5px;
      font-size: 1.2em; /* Adjust icon size for consistency */
  }

  .back-button {
      transition: background-color 0.3s ease, transform 0.2s ease;
      z-index: 1000;
  }

  .back-button:hover {
      background-color: lightgray; 
      transform: translateY(-2px); 
  }

  .back-button:active {
      transform: scale(0.95); 
  }

  .button-Animation {
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease; 
  }

  .button-Animation:hover {
      transform: scale(1.1);
  }

  .reward-button {
    position: absolute; /* Change to absolute positioning */
    top: 12px; /* Maintain distance from the top */
    right: 10px; /* Align to the left */
    background-color: transparent; /* Button background color */
    color: black; /* Button text color */
    border: none !important;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .reward-button i {
      margin-left: 5px;
      font-size: 1.2em; /* Adjust icon size for consistency */
  }

  .reward-button {
      transition: background-color 0.3s ease, transform 0.2s ease;
      z-index: 1000;
  }

  .reward-button:hover {
      background-color: lightgray; 
      transform: translateY(-2px); 
  }

  .reward-button:active {
      transform: scale(0.95); 
  }

  .button-Animation {
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease; 
  }

  .button-Animation:hover {
      transform: scale(1.1);
  }