.background-area {
    background-color: white; /* White background */
    padding: 60px; /* Padding inside the area */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    max-width: 800px; /* Limit width */
    margin: 2em auto;
}

h1 {
    text-align: center;
    margin-top: 2em;
    color: rgb(5, 143, 216);
}
.form-group1 {
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    align-items: flex-start; /* 垂直居中 */
    flex-direction: column; 
  }
  
.form-group2 {
    margin-bottom: 1em;
    margin-top: 3em;
    display: flex;
    align-items: flex-start; /* 垂直居中 */
    flex-direction: column; 
  }

.form-group2 img{
    width: 100px; /* 设置宽度 */
    height: auto; 
    margin-top: 2em;
}